@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-dark-mode: #ededed;
    --font-secundary-dark-mode: #4F6B96;
    --font-inverted-dark-mode: #020015;
    --bg-dark-mode: url('../../img/bg.jpg');
}

.dark-mode {
    --font-dark-mode: #272727;
    --font-secundary-dark-mode: #839fca;
    --font-inverted-dark-mode: #e4e4e4;
    --bg-dark-mode: url('../../img/light_bg.avif');
    transition: 0.5 ease-in ;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--font-dark-mode);
    background: var(--bg-dark-mode) fixed;
    background-size: 100vw;
    background-position: center;
    overflow: overlay;
    transition: 0.5s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}

.logo {
    position: relative;
    font-size: 30px;
    color: var(--font-dark-mode);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transform: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.divisor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisor span {
    width: 40%;
    border: 2px solid var(--font-secundary-dark-mode);
    border-radius: 2px;
    margin: 20px 0px;
}