.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: var(--font-dark-mode);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--font-secundary-dark-mode);
    margin-top: 3px;
    display: block;
}

.navbar a.active::after {
    width: 100%;
    transition: width .3s ease;
}
.navbar a:hover {
    font-size: 20px;
    transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--font-secundary-dark-mode);
    transition: 0.3s;
}