.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1);
    transition: transform .5s ease;
}

.home-sci.active {
    transform: scale(0);
    transition: transform .5s ease;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--font-secundary-dark-mode);
    border-radius: 50%;
    font-size: 20px;
    color: var(--font-secundary-dark-mode);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover {
    color: var(--font-inverted-dark-mode);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--font-secundary-dark-mode);
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before{
    width: 100%;
}