.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 657px;
}

.about h2 {
    display: block;
}

.about-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

}